<!DOCTYPE html>
<!-- We have so far used ng-app without specifying a module name. It worked by creating a default module, but you cannot access it. S0, when you need to register anything, you need to create your own module 

angular.module -> is a global place for creating , registering and retrieving angular modules
-> A module is a collection of directives, comnponents, controllers and other stuff

-->
<html lang="en" ng-app='myApp' >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thinking in Angular 1.x</title>
    <script src="js/angular-1.7.js"></script>
    
</head>
<body ng-init="hourOfDay = 10">
    <div ng-controller="mainCtrl">
        <h1>Hello Angular</h1>
        <p ng-if="hourOfDay < 12">Good Morning</p>
        <p ng-if="hourOfDay > 17">Good Evening</p>
        <p>The hour of the day is- <span ng-bind="hourOfDay"></span></p>

        <p>The hour of the day is- <span>{{hourOfDay}}</span></p>
    </div>

    <script>
        function main(){
            console.log('main function called');
        } 

        var module = angular.module('myApp',[]) ; // creating a module 
        module.controller('mainCtrl',main);  // register the module
        
    </script>
</body>
</html>

<!-- Angular Directive 
  # ng-app - Auto bootstrap an Angular JS Application
           - Designates the root element of the application.
           - You can use ng-app in any  HTML element, not necessarily in <html> as  we did. That element becomes the root node for your angular application
           - Multiple applications per page okay but requires manual bootstrap 
  # ng-init - Initialization Code
            - Evaluate Expressions
            - Don't use this
  # ng-if  -  remove and recreate a portion  of the   DOM tree based on an expression
           - Element is added to the DOM if expression evaluates to true
           - if expression is false, element doesn't get added to the  DOM

  # ng-bind  - Allows you to add value of a  variable into the markup
             <span ng-bind='userName'></span>
             Shorthand of ng-bind is - <span>{{userName}}</span>
              {{expression}}  -   expression evaluates against scope
-->